body {
    background-image: url(/images/body-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.625;
}

.header ul li:nth-child(4) {
    display: flex;
}

.header ul {
    font-size: 200;
}



.banner__left {
    flex: 0 0 auto;
    width: 50%;
}

.banner__right {
    flex: 0 0 auto;
    width: 50%;
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 16px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

@media (min-width: 540px) {

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {

    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {

    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {

    .container {
        max-width: 1536px;
    }
}

.review {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    text-align: center;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
}

.review-author-avatar {
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
    height: 90px;
    width: 90px;
    --tw-translate-y: -1.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    padding: 0.125rem;
}

.reviews-carousel .swiper-pagination-bullet {
    height: 0.875rem;
    width: 0.875rem;
    --tw-bg-opacity: 1;
    background-color: rgb(141 141 141 / var(--tw-bg-opacity));
}

.reviews-carousel .swiper-pagination-bullet-active {
    --tw-bg-opacity: 1;
    background-color: rgb(254 96 25 / var(--tw-bg-opacity));
}

.services .tab-nav {
    display: inline-block;
}

.services .tab-nav-item {
    margin-bottom: 1rem;
    display: flex;
    border-radius: 0.25rem;
    padding-top: 0px;
    padding-bottom: 0px;
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity));
    opacity: 1;
}

.services .tab-nav-item.active {
    border-bottom-width: 0px;
    background-color: rgb(254 96 25 / 0.4);
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}

.btn {
    display: inline-block;
    height: 52px;
    border-width: 1px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 36px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.btn-white {
    min-width: 150px;
    border-radius: 50px;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    text-align: center;
    text-transform: capitalize;
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity));
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);
}

.btn-white:hover {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bg-gradient {
    background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}

.footer h6 {
    margin-bottom: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

@media (min-width: 1024px) {

    .footer h6 {
        margin-bottom: 2rem;
    }
}

.footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.footer li>a {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.footer li>a:hover {
    --tw-text-opacity: 1;
    color: rgb(254 96 25 / var(--tw-text-opacity));
    text-decoration-line: underline;
}